.markdown-body {
  h2,
  h3 {
    font-weight: normal;
  }

  h2 {
    border-bottom-color: $color_primary;
  }

  h3 {
    border-bottom: none;
    border-left:5px solid $color_primary;
    padding-left: 10px;
  }

  h4 {
    color: $color_primary;
  }

  table {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    display: table;
  }

  table th,
  table td {
    border-left: none;
    border-right: none;
    text-align: left;
  }

  table th + th,
  table td + td {
    border-left: none;
    border-right: none;
  }

  .commit-link {
    @include label(#333, #fff);

    &::before {
      content: "commit：";
    }
  }

  .issue-link {
    &[data-hovercard-type="pull_request"] {
      @include label($color_primary, #fff);

      &::before {
        content: "PR：";
      }
    }

    &[data-hovercard-type*="issue"] {
      @include label($color_4CAF50, #fff);

      &::before {
        content: "issue：";
      }
    }

    &::before {
      display: inline-block;
    }
  }
}
